.fleet-status {
  padding: 20px;
  background-color: #f4f5f7;
  margin-top: 20px;
}

.fleet-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fleet-list  {
  background-color: #f4f6f8;
  padding: 20px;
  border-radius: 0 8px 8px 8px;
  border-top: 3px solid #0a423e;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fleet-list  table {
  width: 100%;
  border-collapse: collapse;
}

.fleet-list  th,
.fleet-list  td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.fleet-list  th {
  background-color: #0a423e;
  color: white;
}

.fleet-list  td {
  background-color: white;
}

.fleet-list  tr:hover td {
  background-color: #f1f3f5;
}

.fleet-list  div {
  font-size: 16px;
  color: #666;
  text-align: center;
  padding: 20px 0;
}
