@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.navigation-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 1000;
}

.sliding-text-container {
  height: 3vh;
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  background-color: #666666;
}

.sliding-text {
  display: inline-block;
  padding-left: 100%;
  animation: slide 10s linear infinite;
  color: #fff;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.menu-items {
  display: flex;
  width: 100vw;
  height: 5vh;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.cart-and-count {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 5vw;
}

.cart-item-count {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 5%;
  margin-left: 5%;
}

.hamburger-menu {
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#hamburger-menu-icon {
  height: 4vh;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

#hamburger-menu-icon:hover {
  transform: scale(1.1);
}

.logo-container {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#logo-text {
  font-family: "Grey Qo", cursive;
  font-weight: 800;
  font-size: xx-large;
  font-style: normal;
  cursor: pointer;
}

.links-container {
  width: 25vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

#shopping-cart-icon,
#user-icon {
  height: 4vh;
  cursor: pointer;
}
